:root{
  --core_dark: #383838;
  --core_light: whitesmoke;
  --core_accent: rgb(22,134,197);
  --core_note: rgb(210,178,77);
  --core_overlay: rgba(0, 0, 0, 0.5);
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

select,
input {
  cursor: pointer;
}

div{
  box-sizing: border-box;
}
.hide{
  display: none;
}

#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#menuImg {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
}

.esri-widget--button {
  height: 60px;
  width: 40px;
  background-color: var(--core_dark);
}

.esri-widget > .esri-widget--button[role=button]:not(:first-child) {
    border-top: 1px solid var(--core_light);
}

#menu {
  width: 300px;
  padding: 0px;
  border-bottom: none;
}

.menu-item:not(:first-child) {
    border-top: 1px solid var(--core_light);
}

.menu-item{
  padding-left: 20px;
  background-color: var(--core_dark);
  cursor: pointer;
  height: 100px;
  line-height: 100px;
}

#content-mask{
  position: absolute;
  background-color: var(--core_overlay);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 2;
}
#content-message{
  position: absolute;
  background-color: var(--core_note);
  top: 0;
  left: 20%;
  width: 60%;
  display: none;
  z-index: 4;
  font-size: 0;
  padding: 5px;
  text-align: center;
}

@keyframes content-message {
  0% {height: 0%; font-size: 0;}
  20% {height: 10%; font-size: 20pt;}
  80% {height: 10%; font-size: 20pt;}
  100% {height: 0%; font-size: 0;}
}

#content-message.open-content-message {
  display: block;
  animation-name: content-message;
  animation-duration: 3s;
}

.content-frame{
  width: calc(100% - 130px);
  height: calc(100% - 35px);
  display: none;
  position: absolute;
  top: 15px;
  left: 65px;
  background-color: var(--core_dark);
  z-index: 3;
}

.content-frame select
, .content-frame input
, .content-frame .content-control
{
  background-color: var(--core_dark);
  cursor: pointer;
}

.content-frame .content-header
{
  background-color: var(--core_light);
  padding: 10px;
}

.content-frame > div:nth-of-type(1) {
  /* the menu bar for the dialog boxes */
  width: 100%;
  height: 50px;
  border-bottom: 1px solid var(--core_light);
}

#content-title {
  float: left;
  margin-top: 5px;
  margin-left:  5px;
  height: 40px;
  line-height: 38px;
}

.button-float-right {
  float: right;
  margin-top: 5px;
  margin-right:  5px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.content-frame > div:nth-of-type(2) {
  width: 100%;
  height: calc(100% - 50px);
}

.menu-content{
  overflow: auto;
  height: 100%;
}

.content-item,
.content-item.content-control {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    border: 1px var(--core_accent) solid;
    padding: 20px 10px;
    color: var(--core_accent);
    background-color: var(--core_dark);
}

.content-item.content-control.selected{
  border: 3px var(--core_light) solid;
  background-color: var(--core_accent);
}

.content-item > input[type=checkbox] {
  transform: scale(3);
  margin-right: 20px;
}

label.content-item {
  display: block;
}

.sublayer-button {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  border: 1px var(--core_accent) solid;
  padding: 20px 10px;
  color: var(--core_accent);
  background-color: var(--core_dark);
  cursor: pointer;
}

.visible-layer {
  color: #fff;
  background-color: var(--core_accent);
}

#legendDiv {
  max-height: 300px
}